<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Learn Fast Track</title>
    <link rel="stylesheet" href="/css/main.css" />
  </head>
  <body>
    <%- include('partials/header', { topics: topics, subtopics: subtopics }) %>
    <main>
      <div class="container main-container">
        <div class="tutorials">
          <h2>Latest Tutorials</h2>
          <ul class="tutorial-list">
            <% tutorials.forEach(function(tutorial) { %>
              <li class="tutorial-item">
                <h3><%= tutorial.title %></h3>
                <p><%= tutorial.description %></p>
                <a href="/tutorials/<%= tutorial._id %>">Read more</a>
              </li>
            <% }) %>
          </ul>
        </div>
        <aside class="sidebar">
          <h2>Popular Articles</h2>
          <ul class="popular-articles">
            <% popularArticles.forEach(function(article) { %>
              <li>
                <a href="/articles/<%= article._id %>"><%= article.title %></a>
              </li>
            <% }) %>
          </ul>
        </aside>
      </div>
    </main>
    <%- include('partials/footer') %>
    <script src="/js/main.js"></script>
  </body>
</html>
