<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Favicon -->
    <link rel="shortcut icon" href="/favicon.png">

    <!-- Font -->
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&family=Lora:wght@400;700&family=Montserrat:wght@400;500;600;700&family=Nunito:wght@400;700&display=swap" rel="stylesheet">

    <!-- Libs CSS -->
    <link rel="stylesheet" href="/fonts/fontawesome/fontawesome.css">
    <link rel="stylesheet" href="/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css">
    <link rel="stylesheet" href="/libs/aos/dist/aos.css">
    <link rel="stylesheet" href="/libs/choices.js/public/assets/styles/choices.min.css">
    <link rel="stylesheet" href="/libs/flickity-fade/flickity-fade.css">
    <link rel="stylesheet" href="/libs/flickity/dist/flickity.min.css">
    <link rel="stylesheet" href="/libs/highlightjs/styles/vs2015.css">
    <link rel="stylesheet" href="/libs/jarallax/dist/jarallax.css">
    <link rel="stylesheet" href="/libs/quill/dist/quill.core.css" />

    <!-- Map -->
    <link href='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.css' rel='stylesheet' />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="/css/theme.min.css">

    <title>Tutorials</title>

</head>
<body>

    <!-- NAVBAR
    ================================================== -->
    <%- include('partials/header', { categories: categories }) %>

    <!-- BREADCRUMB
    ================================================== -->
    <nav class="d-lg-none bg-gray-800">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col">

                    <!-- Breadcrumb -->
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <span class="text-white">
                                Home
                            </span>
                        </li>
                        <li class="breadcrumb-item">
                            <span class="text-white">
                                Tutorials
                            </span>
                        </li>
                        <li class="breadcrumb-item active" aria-current="page">
                            <span class="text-white">
                                <%= tutorial.title %>
                            </span>
                        </li>
                    </ol>

                </div>
                <div class="col-auto">

                    <!-- Toggler -->
                    <div class="navbar-dark">
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#sidenavCollapse" aria-controls="sidenavCollapse" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                </div>
            </div> <!-- / .row -->
        </div> <!-- / .container -->
    </nav>

    <!-- CONTENT
    ================================================== -->
    <section>
        <div class="container-fluid">
            <div class="row">
                <div class="col-12 col-lg-3 col-xl-2 px-lg-0 border-bottom border-bottom-lg-0 border-right-lg border-gray-300 sidenav sidenav-left">

                    <div class="collapse d-lg-block" id="sidenavCollapse">
                        <div class="py-7 py-lg-9 px-lg-7">

                            <!-- Heading -->
                            <h6 class="text-uppercase fw-bold">
                                <%= tutorial.title %>
                            </h6>

                            <!-- Links -->
                            <ul class="list mb-6">
                                <% articlesInTutorial.articles.forEach(article => { %>
                                    <li class="list-item">
                                        <a class="list-link" href="/tutorials/<%= tutorial.name %>/<%= article %>"><%= article %></a>
                                    </li>
                                <% }) %>
                            </ul>

                        </div>
                    </div>

                </div>
                <div class="col-12 col-lg-6 col-xl-8 offset-lg-3 offset-xl-2 py-7 py-lg-9 px-lg-7">
                   <%- currentArticleContent %>
                </div>
                <div class="col-12 col-lg-3 col-xl-2 d-none d-lg-block px-lg-0 sidenav sidenav-right">
                    
                </div>
            </div> <!-- / .row -->
        </div>
    </section>

    <!-- FOOTER
    ================================================== -->
    <%- include('partials/footer', { }) %>

    <!-- JAVASCRIPT
    ================================================== -->
    <!-- Libs JS -->
    <script src="/libs/jquery/dist/jquery.min.js"></script>
    <script src="/libs/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="/libs/aos/dist/aos.js"></script>
    <script src="/libs/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="/libs/countup.js/dist/countUp.min.js"></script>
    <script src="/libs/dropzone/dist/min/dropzone.min.js"></script>
    <script src="/libs/flickity/dist/flickity.pkgd.min.js"></script>
    <script src="/libs/flickity-fade/flickity-fade.js"></script>
    <script src="/libs/highlightjs/highlight.pack.min.js"></script>
    <script src="/libs/imagesloaded/imagesloaded.pkgd.min.js"></script>
    <script src="/libs/isotope-layout/dist/isotope.pkgd.min.js"></script>
    <script src="/libs/jarallax/dist/jarallax.min.js"></script>
    <script src="/libs/jarallax/dist/jarallax-video.min.js"></script>
    <script src="/libs/jarallax/dist/jarallax-element.min.js"></script>
    <script src="/libs/parallax-js/dist/parallax.min.js"></script>
    <script src="/libs/quill/dist/quill.min.js"></script>
    <script src="/libs/smooth-scroll/dist/smooth-scroll.min.js"></script>
    <script src="/libs/typed.js/lib/typed.min.js"></script>

    <!-- Map -->
    <script src='https://api.mapbox.com/mapbox-gl-js/v0.53.0/mapbox-gl.js'></script>

    <!-- Theme JS -->
    <script src="/js/theme.min.js"></script>

</body>
</html>
